/* fonts */
.noto{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.flex{
    display: flex;
}
.light-indigo{
  color: #8987A1;
}
.text-black{
  color: black;
}
.text-orange{
  color: #e95a08;
}
.section-title{
  font-size: 50px;
  font-weight: bold;
}
.white{
  color: white;
}
/* header */
.header-container{
    display: flex;
    justify-content: space-between;
    height: 82px;
    max-width: 1140px;
    align-items: center;
    margin: 30px auto;
}
.nav-container{
  align-items: center;
  gap: 48px;
}
.nav-links{
  gap: 48px;
}
#home{
  font-weight: bold;
}
.logo img{
    width: 135px;
    height: 82px;
}
.cart{
  align-items: center;
}
.flex li{
  list-style: none;
}
.flex li a{
  text-decoration: none;
}
.cart-icon{
  height: 24px;
  width: 24px;
}

/* header responsive */
@media screen and (max-width: 600px) {
  .nav-links{
    display: none;
  }
}

/* header style ends */


/* hero banner style */

.hero-section{
  max-width: 1140px;
  margin: 90px auto;
  justify-content: space-between;
}
.hero-text-area{
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 570px;
}
.hero-title{
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}
.hero-des{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 0;
}
.hero-img{
  max-width: 570px;
}
/* hero responsive */

@media screen and (max-width: 600px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    order: -1;
    max-width: 100%;
  }

  .hero-text-area {
    max-width: 360px;
    padding: 28px 0;
  }

  .hero-title {
    font-size: 24px;
    
  }

  .hero-des {
    font-size: 14px;
  }
}

/* our plant section */
.our-plants{
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
}
.section-des{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  display: grid;
  gap: 20px;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}
.card-body img{
  width: 100%;
}
.card-title{
  font-size: 22px;
  font-weight: 500;
}
.card-price{
  font-size: 22px;
  font-weight: bold;
}
.card-btn{
  background-color: #e95a08;
  color: white;
  width: 100%;
  font-weight: 600;
  padding: 20px;
  border: none;
}
@media screen and (max-width:600px) {
  .card-container{
    grid-template-columns: repeat(2,1fr);
  }
}
/* trusted  seller section */
.text-container{
  padding-left: 60px;
}
.trusted-seller {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1140px;
  margin: 100px auto;
  gap: 40px;
  align-items: start;
}

.image-wrapper {
  position: absolute;
  width: 100%;
}

.trusted-img {
  width: 100%;
  display: block;
  border-radius: 8px;
}


/* trusted seller responsive */

@media screen and (max-width:600px) {
  .trusted-seller{
    grid-template-columns: 1fr;
  }
  .text-container{
    padding: 0;
  }
}

/* latest deal section */
.latest-deal{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.deals {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.deals-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.bloom, .ana, .zabo {
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}
.big{
  color: white;
  font-size: 28px;
}
.small{
  font-size: 14px;
  color: white;
}
.bloom{
  background-image: url('../assets/deal-bloom.png');
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
}
.ana{
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
}
.zabo{
  background-image: url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  height: 423px;
  background-color: rgba(0, 0, 0, 0.6);
}
/* responsive latest deal section */
@media (max-width: 600px) {
  .deals {
    grid-template-columns: 1fr;
  }
  .zabo , .ana, .bloom {
    grid-row: auto;
    height: 200px;
  }
  .big{
    font-size: 14px;
    color: white;
  }
}

/* subscribe section */

.subscribe-section{
  max-width: 1440px;
  height: 533px;
  margin: 120px auto;
  margin-bottom: 0;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.input-box{
  display: flex;
  max-width: 830px;
}

.input-box input{
  height: 50px;
  width: 624px;
  padding-left: 20px ;
  border: none;
  outline: none
 
}
.input-box button{
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  width: 186px;
  height: 100%;
  border: none;
}
@media screen and (max-width:600px) {
  .input-box input{
    width: 218px;
  }
  .input-box button{
    width: 103px;
  }
}
/* footer style */
.footer {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  padding: 40px 20px;
  align-items: start;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.footer-links ul {
  list-style: none;
  display: grid;
  row-gap: 20px;
}
.footer-links ul li a {
  text-decoration: none;
  color: #6B7280; 
}
.footer-heading p{
  color: rgba(0, 0, 0, 0.5);
}
.social-midea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
.social-midea img{
  height: 36px;
  width: 36px;
}
/* footer reponsive */
@media screen and (max-width:600px) {
  .footer{
    grid-template-columns: 1fr;
    text-align:left;
    gap: 0;
  }
  .footer-links{
    grid-template-columns: 1fr;
    justify-content: flex-start;
    gap: 0;
  }
  .footer-links ul{
    padding: 0;
  }
  .social-midea{
    justify-content: flex-start;
    margin-top: 10px;
  }

}
