/* fonts */
.noto{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.flex{
    display: flex;
}
.light-indigo{
  color: #8987A1;
}
.text-black{
  color: black;
}
.text-orange{
  color: #e95a08;
}
.section-title{
  font-size: 50px;
  font-weight: bold;
}
/* header */
.header-container{
    display: flex;
    justify-content: space-between;
    height: 82px;
    max-width: 1140px;
    align-items: center;
    margin: 30px auto;
}
.nav-container{
  align-items: center;
  gap: 48px;
}
.nav-links{
  gap: 48px;
}
#home{
  font-weight: bold;
}
.logo img{
    width: 135px;
    height: 82px;
}
.cart{
  align-items: center;
}
.flex li{
  list-style: none;
}
.flex li a{
  text-decoration: none;
}
.cart-icon{
  height: 24px;
  width: 24px;
}

/* header responsive */
@media screen and (max-width: 576px) {
  .nav-links{
    display: none;
  }
}

/* header style ends */


/* hero banner style */

.hero-section{
  max-width: 1140px;
  margin: 90px auto;
}
.hero-text-area{
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 570px;
}
.hero-title{
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}
.hero-des{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 0;
}
.hero-img{
  max-width: 570px;
}
/* hero responsive */

@media screen and (max-width: 576px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    order: -1;
    max-width: 100%;
  }

  .hero-text-area {
    max-width: 360px;
    padding: 28px 0;
  }

  .hero-title {
    font-size: 24px;
    
  }

  .hero-des {
    font-size: 14px;
  }
}

/* our plant section */
.our-plants{
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
}
.section-des{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px ;
}
.card-title{
  font-size: 22px;
  font-weight: 500;
}
.card-price{
  font-size: 22px;
  font-weight: bold;
}
.card-btn{
  background-color: #e95a08;
  color: white;
  width: 100%;
  font-weight: 600;
  padding: 20px;
  border: none;
}
@media screen and (max-width:576px) {
  .card-container{
    grid-template-columns: repeat(2,1fr);
  }
  
}